@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Poppins:wght@400;700&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container 
{
    position: absolute;
    left: 0px;
    right: 0px;
    background: linear-gradient(88.27deg, #574AE8 0%, #3EA1DB 100%);
}